@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title-section-template {
    @apply text-2xl mt-4 font-semibold
  }

  .title-section-side {
    @apply text-2xl mt-4 font-semibold text-red-500
  }

  .text-section {
    @apply font-normal text-2xl text-zinc-700
  }

  .highlighted-type {
    @apply border-2 rounded-md border-red-500 font-semibold text-red-500 text-2xl
  }
}